{% load static %}
<!-- footer section  -->

<section class="footer">

    <div class="share">
        <a href="#" class="btn">facebook</a>
        <a href="#" class="btn">twitter</a>
        <a href="#" class="btn">instagram</a>
        <a href="#" class="btn">pinterest</a>
        <a href="#" class="btn">linkedin</a>
    </div>

    <h1 class="credit"> طراحی توسط <a href="https://netcopy.ir"> نت کپی  </a> | کلیه حقوق محفوظ است </h1>

</section>

<!-- scroll top button  -->
<a href="#home" class="fas fa-angle-up" id="scroll-top"></a>

<!-- loader  -->
<!-- <div class="loader-container">
    <img src="{% static 'images/loader.gif' %}" alt="">
</div> -->




















