{% load static %}

    
<!-- header section starts  -->

<header>

    <a href="#" class="logo"><i class="fas fa-utensils"></i> رستوران بزرگ ارکیده</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">صفحه اصلی</a>
        <!-- <a href="#speciality">تخصص</a> -->
        <a href="#gallery">درباره ما</a>
        <a href="#popular">بلاگ</a>
        
        <a href="#review">تماس با ما</a>
        <a href="#order">ورود / عضویت</a>
    </nav>

</header>

<!-- header section ends -->