{% extends 'base.html' %}
{% load static %}
	{% block content %}

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>غذای ساخته شده با عشق</h3>
        <p>در رستوران ارکیده به راحتی اقدام به رزرو میز کنید و از غذای ارگانیک و سالم ، امکانات مجموعه ، موسیقی زنده ، کافی شاپ و ... لذت ببرید.</p>
        <a href="#" class="btn">اکنون رزرو کنید</a>
    </div>

    <div class="image">
        <img src="{% static 'images/home-img.png' %}" alt="">
    </div>

</section>

<!-- home section ends -->

<!-- speciality section starts  -->

<section class="speciality" id="speciality">

    <h1 class="heading"><span>تخصص</span> ما </h1>

    <div class="box-container">

        <div class="box">
            <img class="image" src="{% static 'images/s-img-1.jpg' %}" alt="">
            <div class="content">
                <img src="{% static 'images/s-1.png' %}" alt="">
                <h3>همبرگر خوشمزه</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="{% static 'images/s-img-2.jpg' %}" alt="">
            <div class="content">
                <img src="{% static 'images/s-2.png' %}" alt="">
                <h3>پیتزا خوشمزه</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="{% static 'images/s-img-3.jpg' %}" alt="">
            <div class="content">
                <img src="{% static 'images/s-3.png' %}" alt="">
                <h3>بستنی سرد</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="{% static 'images/s-img-4.jpg' %}" alt="">
            <div class="content">
                <img src="{% static 'images/s-4.png' %}" alt="">
                <h3>نوشیدنیهای خنک</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="{% static 'images/s-img-5.jpg' %}" alt="">
            <div class="content">
                <img src="{% static 'images/s-5.png' %}" alt="">
                <h3>شیرینی های خوشمزه</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="{% static 'images/s-img-6.jpg' %}" alt="">
            <div class="content">
                <img src="{% static 'images/s-6.png' %}" alt="">
                <h3>صبحانه سالم</h3>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
            </div>
        </div>

    </div>

</section>

<!-- speciality section ends -->

<!-- popular section starts  -->

<section class="popular" id="popular">

    <h1 class="heading">  <span>محبوب</span> ترین غذا ها </h1>

    <div class="box-container">
        
        <div class="box">
            <span class="price">40000 تومان</span>
            <img src="{% static 'images/chelo_ghorme_sabzi.jpg' %}" alt="">
            <h3>چلو خورشت قرمه سبزی</h3>

            <a href="#" class="btn">زمان لازم : 20 دقیقه</a>
        </div>
        <div class="box">
            <span class="price">50000 تومان</span>
            <img src="{% static 'images/chelo_jojeh.jpg' %}" alt="">
            <h3>چلو جوجه ساده</h3>

            <a href="#" class="btn">زمان لازم : 20 دقیقه</a>
        </div>
        <div class="box">
            <span class="price">55000 تومان</span>
            <img src="{% static 'images/chelo_morgh_majlesi.jpg' %}" alt="">
            <h3>چلو مرغ مجلسی</h3>

            <a href="#" class="btn">زمان لازم : 25 دقیقه</a>
        </div>
        <div class="box">
            <span class="price">45000 تومان</span>
            <img src="{% static 'images/chelo-kabab.jpg' %}" alt="">
            <h3>چلو کباب کوبیده</h3>

            <a href="#" class="btn">زمان لازم : 20 دقیقه</a>
        </div>
        

    </div>

</section>

<!-- popular section ends -->

<!-- steps section starts  -->

<div class="step-container">

    <h1 class="heading"> چگونه <span>کار</span> میکند </h1>

    <section class="steps">

        <div class="box">
            <img src="{% static 'images/step-1.jpg' %}" alt="">
            <h3>غذای  خود را انتخاب کنید</h3>
        </div>
        <div class="box">
            <img src="{% static 'images/step-2.jpg' %}" alt="">
            <h3>تحویل رایگان و سریع</h3>
        </div>
        <div class="box">
            <img src="{% static 'images/step-3.jpg' %}" alt="">
            <h3>روش های پرداخت آسان</h3>
        </div>
        <div class="box">
            <img src="{% static 'images/step-4.jpg' %}" alt="">
            <h3>و در آخر ، از غذای خود لذت ببرید</h3>
        </div>
    
    </section>

</div>

<!-- steps section ends -->

<!-- gallery section starts  -->

<section class="gallery" id="gallery">

    <h1 class="heading"> گالری <span> غذا ها </span> </h1>

    <div class="box-container">
        {% for foodss in foods %}
        <div class="box">
            <img src="{{foodss.photo.url}}" alt="">
            <div class="content">
                <h3>{{foodss.name}}</h3>
                <p>{{foodss.description}} </p>
                <a href="#" class="btn">اکنون سفارش دهید</a>
            </div>
        </div>
        
        {% endfor %}

    </div>

</section>

<!-- gallery section ends -->



<!-- order section starts  -->

<section class="order" id="order">

    <h1 class="heading"> <span>سفارش</span> سریع </h1>

    <div class="row">
        
        <div class="image">
            <img src="{% static 'images/order-img.jpg' %}" alt="">
        </div>

        <form action="">

            <div class="inputBox">
                <input type="text" placeholder="اسم">
                <input type="email" placeholder="ایمیل">
            </div>

            <div class="inputBox">
                <input type="number" placeholder="شماره تلفن">
                <input type="text" placeholder="نام غذا">
            </div>

            <textarea placeholder="آدرس" name="" id="" cols="30" rows="10"></textarea>

            <input type="submit" value="اکنون سفارش دهید" class="btn">

        </form>

    </div>

</section>

<!-- order section ends -->

    {% endblock content %}      